src/wsdl/eventdelivery/EventDelivery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://it.posteitaliane.gme/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.posteitaliane.gme/">
  <xs:import schemaLocation="EventDelivery_1.xsd" namespace="http://schemas.datacontract.org/2004/07/PosteItaliane.SIN.TTTypes.Entities"/>
  <xs:element name="EventDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventEntities" nillable="true" type="q1:ArrayOfItemEntity" xmlns:q1="http://schemas.datacontract.org/2004/07/PosteItaliane.SIN.TTTypes.Entities"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventDeliveryResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
</xs:schema>