src/wsdl/accettazione/PostalObjectAcceptance_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PosteItaliane.Sin.TTProxy.Interfaces.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/PosteItaliane.Sin.TTProxy.Interfaces.Entities">
  <xs:complexType name="ArrayOfPostalObjectAcceptanceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostalObjectAcceptanceEntity" nillable="true" type="tns:PostalObjectAcceptanceEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostalObjectAcceptanceEntity" nillable="true" type="tns:ArrayOfPostalObjectAcceptanceEntity"/>
  <xs:complexType name="PostalObjectAcceptanceEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TTEntityBase">
        <xs:sequence>
          <xs:element name="DEN" type="xs:dateTime"/>
          <xs:element name="MSGTYPE" nillable="true" type="xs:string"/>
          <xs:element name="OBJID" nillable="true" type="xs:string"/>
          <xs:element name="OFCID" nillable="true" type="xs:string"/>
          <xs:element name="OPERATORID" nillable="true" type="xs:string"/>
          <xs:element name="PTYPE" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostalObjectAcceptanceEntity" nillable="true" type="tns:PostalObjectAcceptanceEntity"/>
  <xs:complexType name="TTEntityBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TTEntityBase" nillable="true" type="tns:TTEntityBase"/>
  <xs:complexType name="EntityBase">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase"/>
  <xs:complexType name="NotifyDeliveryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TTEntityBase">
        <xs:sequence>
          <xs:element name="BTBTS" type="xs:boolean"/>
          <xs:element name="CAUNOTIF" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CasaComunale" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="CodVal" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="Comune" nillable="true" type="xs:string"/>
          <xs:element name="DEN" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="DatAtto" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="DelegName" nillable="true" type="xs:string"/>
          <xs:element name="Delivered" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DocAgency" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DocExpTime" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string"/>
          <xs:element name="FDNUM" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="IdPatente" nillable="true" type="xs:string"/>
          <xs:element name="Luogo" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="MSID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="ModPag" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="NumAtto" nillable="true" type="xs:string"/>
          <xs:element name="OFCID" nillable="true" type="xs:string"/>
          <xs:element name="ObjId" nillable="true" type="xs:string"/>
          <xs:element name="PType" nillable="true" type="xs:string"/>
          <xs:element name="ProcStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="RecId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="RecName" nillable="true" type="xs:string"/>
          <xs:element name="RecapitoConcordato" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string"/>
          <xs:element name="TDT" type="xs:dateTime"/>
          <xs:element name="TipoMessaggio" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyDeliveryEntity" nillable="true" type="tns:NotifyDeliveryEntity"/>
  <xs:complexType name="NotifyDeliveryOggettiNonConformiEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TTEntityBase">
        <xs:sequence>
          <xs:element name="CodOggetto" nillable="true" type="xs:string"/>
          <xs:element name="EventDate" type="xs:dateTime"/>
          <xs:element name="NomeFile" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifyDeliveryOggettiNonConformiEntity" nillable="true" type="tns:NotifyDeliveryOggettiNonConformiEntity"/>
  <xs:complexType name="dispatchEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TTEntityBase">
        <xs:sequence>
          <xs:element name="DispatchId" nillable="true" type="xs:string"/>
          <xs:element name="EventDate" type="xs:dateTime"/>
          <xs:element name="ObjectId" nillable="true" type="xs:string"/>
          <xs:element name="OfficeId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="OtherOfficeId" nillable="true" type="xs:string"/>
          <xs:element name="ProductType" nillable="true" type="xs:string"/>
          <xs:element name="TrackTraceDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dispatchEntity" nillable="true" type="tns:dispatchEntity"/>
</xs:schema>